header 
	ul 
		li: a(href="/") Home
		li: a(href="/booking") Booking
		li: a(href="/login") Login
		li: a(href="/register") Register
		li: a(href="/help") Customer Service
		li: a(href="/logout") Logout
